html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffcf56;
}

img {
    border-radius: 10px;
}

#head_img {
    display: none;
}

.head {
    /* position: fixed; */
    width: 100%;
    z-index: 2;
}


.rounded_img {
    border-radius: 20px;
}

.text {
    background-color: #FFFFDD;
    padding: 4px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: #741800;
    color: white;
    padding: 10px;
}

.navigation {
    background-color: #ffd5b5;
    border: 4px solid #000000;
    width: 100%;
}

nav > ul.navigation {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    /* justify-content: space-between; */
}


.skipper {
    position: absolute;
    top: -40px;
    left: 10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    background-color: white;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 3;
}

.skipper:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}


.navigation > li {
    margin: 10px;
    padding: 4px;
    font-size: 22px;
}

.navigation > li > a {
    text-decoration: none;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000000;
}

.navigation > li > a:hover {
    color: #540900;
    /* background-color: #430000; */
}

/* main {
    padding: 10px 20px 20px 20px;
} */

h1 {
    font-size: 46px;
    padding: 40px 20px 0px 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}



main div.text {
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main > div.top {
    margin-bottom: 60px;
}

h2 {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #ffd5b5;
    border: 4px solid black;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    /* display: inline-block; */
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #683707;
    color: #f9f7f3;
    padding: 4px;
    margin: 0 auto 10px auto;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 20em;
    /* text-decoration: underline; */
}

.navigation > .active {
    border: 3px solid black;
    border-radius: 6px;
    /* box-sizing: border-box; */
}

.navigation > .active > a {
    color: #540900;
}

.gallery {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.gallery > div {
    margin-bottom: 30px;
}

.gallery > div > img {
    width: 28em;
    height: auto;
}

.gallery div.cheesename {
    background-color: #540900;
    color: white;
    font-size: 24px;
}

.gallery_img > img {
    border: 4px solid black;
}

.gallery_img > img:hover {
    border: 4px solid #7d560c;
    z-index: -1;
}

.gallery > .extraPic {
    display: none;
}

.cheeseImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    margin: 0 40px 0 40px;
}

.cheeseImages > div.flex-item {
    margin: 20px 0 20px 0;
    /* align-self: center; */
    text-align: center;
}

.cheeseImages 

.cheeseImages > div:focus {
    border: 20px solid black;
}

.cheeseImages img {
    /* max-width: 90%;
    max-height: 90%; */
    width: 28em;
    height: auto;
    border: 5px solid black;
    /* border-radius: 10px; */
    /* align-self: center; */
}

.description {
    width: 22em;
    margin: auto;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.impact {
    max-width: 30em;
    max-height: auto;
    margin: auto auto 10px auto;
    width: 80%;
}

.purchase_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.purchase_flex > * {
    margin: 0 30px 20px 30px;
}

.purchase_flex > img {
    max-width: 30em;
    min-width: 18em;
    height: auto;
}

.sampler {
    border: 4px solid black;
}

div.purchase {
    min-width: 25em;
    max-width: 25em;
    border: 3px solid black;
    background-color: #ffdb80;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.total {
    padding: 10px 0 10px 0;
}

.bold {
    font-weight: bold;
}

.about {
    margin-top: 40px;
}

.founders {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.founders > img {
    width: 20em;
    /* height: auto; */
    margin: 10px;
    border: 4px dashed black;
}

.impact > img {
    border: 4px solid black;
}

.resources {
    background-color: #ffdb80;
    margin: 20px;
    border: 4px solid black;
    padding: 20px;
    text-align: center;
    margin: 0 20px 20px 20px;
    word-break: break-word;
    /* max-width: 30em; */
}

.resources > li {
    color: black;
    /* line-height: 2; */
    padding-bottom: 20px;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resources > li > a {
    color: #44200e;
    font-weight: bold;
    /* text-decoration: none; */
}

.resources > li > a:hover {
    color: #99312f;
    text-decoration: underline;
}


@media only screen and (min-width: 600px) {
    .navigation > li {
        font-size: 22px;
    }

    .navigation > li > a {
        color: #540900;
    }

    .navigation {
        background-color: orange;
        border: 4px solid #a43129;
    }

    h2 {
        background-color: #ffab1b;
    }

    .cheeseImages {
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: auto;
        justify-content: flex-start;
        justify-items: space-between;
        align-items: center;
        border: 5px solid #000000;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 10px 0 10px 0;
        background-color: #fcaf74;
    }

    .cheeseImages div.flex-item {
        margin: 10px 5px 0 5px;
    }

    /* div.flex-item {
        min-width: 22em;
    } */

    .gallery {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        margin: 0 10px 0 10px;
    }

    /* .gallery > div:nth-child(4n) {
        grid-column: 1 / span 2;
    } */

    .gallery > div:nth-child(4n) {
        grid-column: 1 / span 2;
    }



    #head_img {
        display:block;
        text-align: center;
        padding: 1%;
        /* border: 4px solid black; */
    }

    .founders {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0 2em 0 2em;
    }
    
}

@media only screen and (min-width: 1100px) {
    .head {
        position: fixed;
    }

    #head_img > img {
        border: 4px solid black;
    }

    body {
        background-image: url("../images/background-cheese.webp");
        background-repeat: repeat;
        background-attachment: fixed;
    }

    main > h1 {
        padding-top: 110px;
    }

    h2 {
        background-color: #fcaf74;
        /* border: 4px solid #a43129; */
    }

    .navigation > li > a {
        color: #000000;
    }

    .navigation {
        background-color: #fcaf74;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1%;
        margin-bottom: 80px;
    }

    /* .gallery > div:nth-child(3n) {
        grid-column: 3;
    } */

    .gallery > div.extraPic {
        display: block;
        align-self: center;
        border: 4px dotted brown;
        padding: 1px;
        border-radius: 10px;
    }

    .gallery > div:nth-child(4), .gallery > div:nth-child(8) {
        grid-column: 1;
    }

    .gallery > div:nth-child(12) {
        grid-column: 2;
    }

    .gallery > div:nth-child(7) {
        grid-column: 1 / span 3;
    }

    .gallery > div:nth-child(7) > img {
        width: 80em;
        height: auto;
    }


    .cheeseImages {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        overflow-x: visible;
        border: none;
        align-items: flex-start;
        margin: 0;
        background-color: transparent;
        /* background-image: url("../images/background-cheese.webp"); */
    }

    .cheeseImages div.flex-item {
        /* min-width: 0;
        min-height: 0; */
        margin-bottom: 40px;
    }

    div.flex-item > img {
        max-height: 20em;
    }

    
    header > h2 {
        text-align: center;
        margin: 0 20% 0 20%;
        padding: 1%;
    }

    .bottom {
        text-align: center;
    }

    .chart {
        display: inline-block;
        vertical-align: middle;
    }

    .chart > .text {
        max-width: 25em;
    }

    .founders {
        margin: 0 10% 0 10%;
    }

    .founders > img {
        width: 26em;
    }

}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}





